* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

h1 {

}

input {

}

#app-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.user-data{
	width: 40%;
	padding-left: 7%;
}

.user-data img {
	width: 100%;
}

.stack{
	list-style: none;
}
